

<nav class="navbar navbar-expand-lg navbar-dark fixed-top"  [class.bg-dark]="isScrolled()"
  [class.navbar-transparent]="!isScrolled()">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rick and Morty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
        <a class="nav-link" [routerLink]="['/characters']" routerLinkActive="router-link-active" >Listado</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>